html{
     overflow: -moz-scrollbars-none;
     -ms-overflow-style: none;
}
 html::-webkit-scrollbar {
     width: 0 !important 
}
 .E3X2T{
    min-height:100vh;
    overflow:hidden;
}
 .wG4fl{
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-ordinal-group:5;
    -webkit-order:4;
    -ms-flex-order:4;
    order:4;
}
 .UDpcu{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
}
 .Zx5PI{
    -webkit-box-ordinal-group:6;
    -webkit-order:5;
    -ms-flex-order:5;
    order:5;
    padding:0 20px;
}
 .burfB{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
}
 .vfoLd{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
    padding-left:16px;
    padding-right:16px;
}
 .rgFsT{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-top:12px;
    max-width:350px;
}
 .izU2O{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    font-size:14px;
    margin:15px;
    text-align:center;
}
 .izU2O>a,.izU2O>a:hover,.izU2O>a:active,.izU2O>a:visited{
    color:#0095f6;
    color:rgba(var(--d69,0,149,246),1);
}
 .gr27e{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#fff;
    background-color:rgba(var(--d87,255,255,255),1);
    border:1px solid #dbdbdb;
    border:1px solid rgba(var(--b6a,219,219,219),1);
    border-radius:1px;
    margin:0 0 10px;
    padding:10px 0;
}
 .gr27e:empty{
    display:none;
}
 @media (max-width:450px){
     .rgFsT{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between;
        margin-top:0;
        max-width:100%;
    }
     .gr27e{
        background-color:transparent;
        border:0;
    }
}
 ._9GP1n{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-appearance:none;
    background:#fafafa;
    background:rgba(var(--b3f,250,250,250),1);
    border:1px solid #dbdbdb;
    border:1px solid rgba(var(--ca6,219,219,219),1);
    border-radius:3px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    font-size:14px;
    position:relative;
    width:100%;
}
 ._2hvTZ{
    background:#fafafa;
    background:rgba(var(--b3f,250,250,250),1);
    border:0;
    -webkit-box-flex:1;
    -webkit-flex:1 0 auto;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    margin:0;
    outline:0;
    overflow:hidden;
    padding:9px 0 7px 8px;
    text-overflow:ellipsis;
}
 .i24fI{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    height:100%;
    padding-right:8px;
    vertical-align:middle;
}
 .f0n8F{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -webkit-flex:1 0 0;
    -ms-flex:1 0 0;
    flex:1 0 0;
    height:36px;
    margin:0;
    min-width:0;
    padding:0;
    position:relative;
}
 ._9nyy2{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
    font-size:12px;
    height:36px;
    left:8px;
    line-height:36px;
    overflow:hidden;
    pointer-events:none;
    position:absolute;
    right:0;
    text-overflow:ellipsis;
    -webkit-transform-origin:left;
    transform-origin:left;
    -webkit-transition:-webkit-transform ease-out .1s;
    transition:-webkit-transform ease-out .1s;
    transition:transform ease-out .1s;
    transition:transform ease-out .1s,-webkit-transform ease-out .1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap;
}
 .f0n8F .pexuQ{
    font-size:16px;
}
 .K-1uj{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}
 .s311c{
    background-color:#dbdbdb;
    background-color:rgba(var(--b38,219,219,219),1);
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    height:1px;
    position:relative;
    top:.45em;
}
 ._0tv-g{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    font-size:13px;
    font-weight:600;
    line-height:15px;
    margin:0 18px;
    text-transform:uppercase;
}
 ._4_yKc{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:32px auto 0;
    max-width:935px;
    padding-bottom:32px;
    width:100%;
}
 @media (max-width:875px){
     ._80tAB{
        display:none;
    }
}
 @media (max-width:450px){
     ._4_yKc{
        margin-top:0;
    }
}
 .UYrFC{
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
    background-image:url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-position:-46px 0;
    background-size:468.32px 634.15px;
    -webkit-flex-basis:380.32px;
    -ms-flex-preferred-size:380.32px;
    flex-basis:380.32px;
    height:581.15px;
    margin-bottom:12px;
    margin-right:32px;
}
 @media screen and (-webkit-min-device-pixel-ratio:1.5),screen and (min-resolution:1.5dppx){
     .UYrFC{
        background-image:url(https://www.instagram.com/static/images/homepage/phones/home-phones-2x.png/cbc7174b4f05.png);
    }
}
 .nLFdg{
    margin:27px 0 0 113px;
    position:relative;
}
 .aXOnh{
    height:538.84px;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    visibility:hidden;
    width:250px;
}
 .JtrJi,._9CDVW{
    opacity:0;
    -webkit-transition:opacity 1.5s ease-out;
    transition:opacity 1.5s ease-out;
    visibility:visible;
}
 .JtrJi{
    opacity:1;
    -webkit-transition:opacity 1.5s ease-in;
    transition:opacity 1.5s ease-in;
    z-index:2;
}
 .-MzZI{
    margin:0 40px 6px;
}
 .Z7p_S{
    margin:10px 40px 18px;
}
 .HmktE{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}
 .AeB99{
    display:inline-block;
    margin-right:8px;
    position:relative;
    top:3px;
}
 .EPjEi{
    margin-bottom:10px;
    max-width:350px;
    width:100%;
}
 .KPnG0{
    color:#385185;
}
 ._2Lks6,._2Lks6:hover,._2Lks6:active,._2Lks6:visited{
    color:#00376b;
    color:rgba(var(--fe0,0,55,107),1);
    font-size:12px;
    line-height:16px;
    margin-top:12px;
    text-align:center;
}
 .b_nGN{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    font-size:14px;
    line-height:18px;
    margin:10px 20px 10px 20px;
    text-align:center;
}
 .iNy2T{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:10px 0 10px 0;
}
 @media (max-width:400px){
     .iNy2T{
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
}
/*! CSS Used from: https://www.instagram.com/static/bundles/es6/ConsumerUICommons.css/feed53198014.css */
 ._7UhW9{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
 .PIoXz{
    font-size:12px;
    line-height:16px;
    margin:-2px 0 -3px;
}
 .xLCgt{
    font-size:14px;
    line-height:18px;
    margin:-3px 0 -4px;
}
 .MMzan{
    font-weight:400;
}
 .qyrsm{
    font-weight:600;
}
 .KV-D4{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
}
 ._0PwGv{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
}
 .gtFbE{
    color:#0095f6;
    color:rgba(var(--d69,0,149,246),1);
}
 .uL8Hv{
    display:block;
}
 ._7UhW9 ._7UhW9,.se6yk{
    display:inline!important;
    margin:0!important;
}
 .sqdOP{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:0 0;
    border:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    display:block;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:600;
    padding:5px 9px;
    text-align:center;
    text-overflow:ellipsis;
    text-transform:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:auto;
}
 .sqdOP:active{
    opacity:.7;
}
 .sqdOP[disabled]{
    pointer-events:none;
}
 .sqdOP[disabled]:not(.A086a){
    opacity:.3;
}
 .L3NKy{
    border-radius:4px;
    color:#fff;
    color:rgba(var(--eca,255,255,255),1);
    position:relative;
}
 .y3zKF:not(.yWX7d){
    background-color:#0095f6;
    background-color:rgba(var(--d69,0,149,246),1);
    border:1px solid transparent;
}
 .y3zKF:active:not(.yWX7d){
    background-color:rgba(0,149,246,.7);
    background-color:rgba(var(--d69,0,149,246),.7);
    opacity:1;
}
 .y3zKF[disabled]:not(.yWX7d):not(.A086a){
    background-color:rgba(0,149,246,.3);
    background-color:rgba(var(--d69,0,149,246),.3);
    opacity:1;
}
 .yWX7d,.yWX7d:visited{
    border:0;
    color:#0095f6;
    color:rgba(var(--d69,0,149,246),1);
    display:inline-block;
    padding:0;
    position:relative;
}
 .sDN5V{
    --f52:142,142,142;
    --h1d:255,255,255;
    --de5:255,255,255;
    --d69:0,149,246;
    --b86:88,195,34;
    --i30:237,73,86;
    --d62:255,255,255;
    --e4f:54,54,54;
    --a72:255,255,255;
    --ie3:142,142,142;
    --c37:237,73,86;
    --f24:0,149,246;
    --daf:255,1,105;
    --f76:28,209,79;
    --jbb:53,121,234;
    --aab:118,56,250;
    --eca:255,255,255;
    --jb7:0,0,0;
    --fa7:224,241,255;
    --aa6:38,38,38;
    --ba8:168,168,168;
    --eac:237,73,86;
}
 .sDN5V{
    --i1d:38,38,38;
    --edc:199,199,199;
    --f75:38,38,38;
    --fe0:0,55,107;
    --d87:255,255,255;
    --b3f:250,250,250;
    --bb2:239,239,239;
    --f23:255,255,255;
    --b38:219,219,219;
    --b6a:219,219,219;
    --ca6:219,219,219;
    --cdd:38,38,38;
    --e22:199,199,199;
    --e62:245,251,255;
    --b2f:88,195,34;
    --c8c:168,168,168;
    --ce3:239,239,239;
    --jd9:0,0,0;
    --j64:54,54,54;
    --a97:243,243,243;
    --d20:38,38,38;
}
 .qF0y9{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
 .Igw0E{
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch;
}
 .IwRSH{
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
}
 .ybXk5{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}
 .eGOV_{
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
}
 .YBx95{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}
 ._4EzTm{
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
}
 .YlhBV{
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
 .bkEs3{
    margin-bottom:8px;
}
 ._22l1{
    margin-bottom:12px;
}
 .KokQV{
    margin-bottom:52px;
}
 .WKY0a{
    margin-left:4px;
}
 .soMvl{
    margin-left:8px;
}
 ._5VUwz{
    margin-left:16px;
}
 .CovQj{
    margin-left:40px;
}
 .JI_ht{
    margin-right:8px;
}
 .jKUp7{
    margin-right:40px;
}
 .DhRcB{
    margin-top:8px;
}
 ._49XvD{
    margin-top:12px;
}
 .kEKum{
    margin-top:24px;
}
 .UU_bp{
    margin-top:36px;
}
 ._3G4x7{
    color:#00376b;
    color:rgba(var(--fe0,0,55,107),1);
    cursor:pointer;
    display:inline-block;
    font-weight:600;
    position:relative;
    vertical-align:top;
}
 .RFk-t{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
}
 .bwz9f{
    font-weight:400;
}
 .hztqj{
    cursor:pointer;
    height:100%;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    width:100%;
}
 .TQUPK{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}
 ._8-yf5{
    display:block;
    position:relative;
}
 .coreSpriteFacebookIcon{
    background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
}
 .coreSpriteFacebookIcon{
    background-repeat:no-repeat;
    background-position:-414px -259px;
    height:16px;
    width:16px;
}
 @media (min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){
     .coreSpriteFacebookIcon{
        background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_2x_bcd90c1d4868.png/bcd90c1d4868.png);
    }
     .coreSpriteFacebookIcon{
        background-size:440px 411px;
        background-position:-428px -298px;
    }
     .coreSpriteFacebookIcon{
        background-position:-347px -329px;
    }
}
 ._-rjm{
    bottom:0;
    left:0;
    overflow:hidden;
    position:fixed;
    right:0;
    z-index:500;
}
 .tA2fc{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    -webkit-transition:-webkit-transform .2s ease-out;
    transition:transform .2s ease-out;
    transition:transform .2s ease-out,-webkit-transform .2s ease-out;
}
 ._5qKD1{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    bottom:50%;
    left:0;
    overflow:hidden;
    position:fixed;
    right:0;
    z-index:500;
}
 .q5edG{
    opacity:1;
    -webkit-transition:visibility 0s linear 0s,opacity 150ms;
    transition:visibility 0s linear 0s,opacity 150ms;
    visibility:visible;
}
 @media (min-width:736px){
     .tA2fc{
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
    }
}
 .s4Iyt{
    max-height:100%;
    max-width:100%;
    -o-object-fit:contain;
    object-fit:contain;
}
 ._9eogI{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
}
 .z1VUo{
    margin-right:8px;
}
 .z1VUo:last-child{
    margin-right:0;
}
 .Rt8TI{
    height:40px;
}
 .zyHYP{
    -webkit-appearance:none;
}
 .zyHYP:disabled{
    background-color:#efefef;
    background-color:rgba(var(--bb2,239,239,239),1);
    border-color:#dbdbdb;
    border-color:rgba(var(--b38,219,219,219),1);
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
    cursor:not-allowed;
}
 .zyHYP::-webkit-input-placeholder{
    color:#8e8e8e;
    font-weight:300;
    opacity:1;
}
 .zyHYP::-moz-placeholder{
    color:#8e8e8e;
    font-weight:300;
    opacity:1;
}
 .zyHYP:-ms-input-placeholder{
    color:#8e8e8e;
    font-weight:300;
    opacity:1;
}
 .zyHYP::-ms-input-placeholder{
    color:#8e8e8e;
    font-weight:300;
    opacity:1;
}
 .zyHYP::placeholder{
    color:#8e8e8e;
    font-weight:300;
    opacity:1;
}
 .zyHYP::-ms-clear{
    display:none;
    height:0;
    width:0;
}
/*! CSS Used from: https://www.instagram.com/static/bundles/es6/Consumer.css/2b61e6e84cc2.css */
 a,article,body,div,footer,form,h1,header,html,img,label,p,section,span{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
}
 body{
    line-height:1;
}
 #react-root,article,div,footer,header,main,section{
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    border:0 solid #000;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    margin:0;
    padding:0;
    position:relative;
}
 body{
    background:#fff;
    background:rgba(var(--d87,255,255,255),1);
    overflow-y:scroll;
}
 body:-webkit-full-screen{
    height:100%;
    width:100%;
}
 body:-ms-fullscreen{
    height:100%;
    width:100%;
}
 body:fullscreen{
    height:100%;
    width:100%;
}
 html{
    -webkit-text-size-adjust:100%;
}
 html,body,#react-root{
    height:100%;
}
 #react-root{
    z-index:0;
}
 .js-focus-visible :focus:not([data-focus-visible-added]){
    outline:0;
}
 button{
    margin:0;
}
 body,button,input,textarea{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:18px;
}
 a,a:visited{
    color:#00376b;
    color:rgba(var(--fe0,0,55,107),1);
    text-decoration:none;
}
 a:active{
    opacity:.5;
}
 .E3X2T{
    min-height:100vh;
    overflow:hidden;
}
 .wG4fl{
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-ordinal-group:5;
    -webkit-order:4;
    -ms-flex-order:4;
    order:4;
}
 .UDpcu{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
}
 .Zx5PI{
    -webkit-box-ordinal-group:6;
    -webkit-order:5;
    -ms-flex-order:5;
    order:5;
    padding:0 20px;
}
 .burfB{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
}
 .vfoLd{
    background-color:#fafafa;
    background-color:rgba(var(--b3f,250,250,250),1);
    padding-left:16px;
    padding-right:16px;
}
 .rgFsT{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin-top:12px;
    max-width:350px;
}
 .izU2O{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    font-size:14px;
    margin:15px;
    text-align:center;
}
 .izU2O>a,.izU2O>a:hover,.izU2O>a:active,.izU2O>a:visited{
    color:#0095f6;
    color:rgba(var(--d69,0,149,246),1);
}
 .gr27e{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:#fff;
    background-color:rgba(var(--d87,255,255,255),1);
    border:1px solid #dbdbdb;
    border:1px solid rgba(var(--b6a,219,219,219),1);
    border-radius:1px;
    margin:0 0 10px;
    padding:10px 0;
}
 .gr27e:empty{
    display:none;
}
 @media (max-width:450px){
     .rgFsT{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between;
        margin-top:0;
        max-width:100%;
    }
     .gr27e{
        background-color:transparent;
        border:0;
    }
}
 ._9GP1n{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-appearance:none;
    background:#fafafa;
    background:rgba(var(--b3f,250,250,250),1);
    border:1px solid #dbdbdb;
    border:1px solid rgba(var(--ca6,219,219,219),1);
    border-radius:3px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    font-size:14px;
    position:relative;
    width:100%;
}
 ._2hvTZ{
    background:#fafafa;
    background:rgba(var(--b3f,250,250,250),1);
    border:0;
    -webkit-box-flex:1;
    -webkit-flex:1 0 auto;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    margin:0;
    outline:0;
    overflow:hidden;
    padding:9px 0 7px 8px;
    text-overflow:ellipsis;
}
 .i24fI{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    height:100%;
    padding-right:8px;
    vertical-align:middle;
}
 .f0n8F{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -webkit-flex:1 0 0;
    -ms-flex:1 0 0;
    flex:1 0 0;
    height:36px;
    margin:0;
    min-width:0;
    padding:0;
    position:relative;
}
 ._9nyy2{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
    font-size:12px;
    height:36px;
    left:8px;
    line-height:36px;
    overflow:hidden;
    pointer-events:none;
    position:absolute;
    right:0;
    text-overflow:ellipsis;
    -webkit-transform-origin:left;
    transform-origin:left;
    -webkit-transition:-webkit-transform ease-out .1s;
    transition:-webkit-transform ease-out .1s;
    transition:transform ease-out .1s;
    transition:transform ease-out .1s,-webkit-transform ease-out .1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space:nowrap;
}
 .f0n8F .pexuQ{
    font-size:16px;
}
 .K-1uj{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
}
 .s311c{
    background-color:#dbdbdb;
    background-color:rgba(var(--b38,219,219,219),1);
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    height:1px;
    position:relative;
    top:.45em;
}
 ._0tv-g{
    color:#8e8e8e;
    color:rgba(var(--f52,142,142,142),1);
    -webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    font-size:13px;
    font-weight:600;
    line-height:15px;
    margin:0 18px;
    text-transform:uppercase;
}
 ._4_yKc{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:32px auto 0;
    max-width:935px;
    padding-bottom:32px;
    width:100%;
}
 @media (max-width:875px){
     ._80tAB{
        display:none;
    }
}
 @media (max-width:450px){
     ._4_yKc{
        margin-top:0;
    }
}
 .UYrFC{
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
    background-image:url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-position:-46px 0;
    background-size:468.32px 634.15px;
    -webkit-flex-basis:380.32px;
    -ms-flex-preferred-size:380.32px;
    flex-basis:380.32px;
    height:581.15px;
    margin-bottom:12px;
    margin-right:32px;
}
 @media screen and (-webkit-min-device-pixel-ratio:1.5),screen and (min-resolution:1.5dppx){
     .UYrFC{
        background-image:url(https://www.instagram.com/static/images/homepage/phones/home-phones-2x.png/cbc7174b4f05.png);
    }
}
 .nLFdg{
    margin:27px 0 0 113px;
    position:relative;
}
 .aXOnh{
    height:538.84px;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    visibility:hidden;
    width:250px;
}
 .JtrJi,._9CDVW{
    opacity:0;
    -webkit-transition:opacity 1.5s ease-out;
    transition:opacity 1.5s ease-out;
    visibility:visible;
}
 .JtrJi{
    opacity:1;
    -webkit-transition:opacity 1.5s ease-in;
    transition:opacity 1.5s ease-in;
    z-index:2;
}
 .-MzZI{
    margin:0 40px 6px;
}
 .Z7p_S{
    margin:10px 40px 18px;
}
 .HmktE{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}
 .AeB99{
    display:inline-block;
    margin-right:8px;
    position:relative;
    top:3px;
}
 .EPjEi{
    margin-bottom:10px;
    max-width:350px;
    width:100%;
}
 .KPnG0{
    color:#385185;
}
 ._2Lks6,._2Lks6:hover,._2Lks6:active,._2Lks6:visited{
    color:#00376b;
    color:rgba(var(--fe0,0,55,107),1);
    font-size:12px;
    line-height:16px;
    margin-top:12px;
    text-align:center;
}
 .b_nGN{
    color:#262626;
    color:rgba(var(--i1d,38,38,38),1);
    font-size:14px;
    line-height:18px;
    margin:10px 20px 10px 20px;
    text-align:center;
}
 .iNy2T{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:10px 0 10px 0;
}
 @media (max-width:400px){
     .iNy2T{
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
}
/*! CSS Used fontfaces */
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:500;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:500;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:500;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:500;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:500;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:600;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:600;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:600;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:600;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:600;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Montserrat';
    font-style:normal;
    font-weight:700;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Nunito Sans';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8ccewI9tScg.woff2) format('woff2');
    unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
 @font-face{
    font-family:'Nunito Sans';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cce5I9tScg.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Nunito Sans';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cceyI9tScg.woff2) format('woff2');
    unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
 @font-face{
    font-family:'Nunito Sans';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8ccezI9tScg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Nunito Sans';
    font-style:normal;
    font-weight:400;
    font-display:fallback;
    src:url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
